{
	"master": {
		"connection": "ftp://{{ username }}:{{ password }}@yaronet.com/www/org.yaronet.boo"
	},
	"test": {
		"connection": "ftp://{{ username }}:{{ password }}@yaronet.com/www/org.yaronet.boo-test"
	}
}
